@import url('https://fonts.googleapis.com/css?family=Open+Sans:800,800i');

/*-------------*\
	Variables
\*-------------*/

$black: black;
$white: white;
$grey: grey;
$lightGrey: lightgrey;
$veryLightGrey: #EEE;
$green: green;
$lightGreen: lightgreen;

$smFontSize: 11px;
$regFontSize: 19px;
$lgFontSize: 32px;
$xlFontSize: 48px;

/*-----------------*\
	Global Styles
\*-----------------*/

body {
	font-family: Georgia, serif;
	line-height: 1.7;
	font-size: $regFontSize;
	color: $black;
}

h1, h2, h3, h4 {
	font-family: Open Sans, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: $black;
}

p {
	margin: 30px 0;
}

h1 {
	font-size: $xlFontSize;
}

h1 + p, h2 + p, h3 + p {
	margin: 15px 0 30px 0;
}

blockquote {
	border-left: 2px solid $lightGrey;
	padding-left: 30px;
	font-size: 30px;
	font-style: italic;
}

pre {
	background-color: $veryLightGrey;
	border: 1px solid $lightGrey;
	border-radius: 8px;
	padding: 8px;
}

/*---------------*\
	Typesetting
\*---------------*/

/* Small caps */

/* Double quote (") marks */
.pull-double{margin-left:-.38em}
.push-double{margin-right:.38em}

/* Single quote (') marks */
.pull-single{margin-left:-.15em}
.push-single{margin-right:.15em}

/* Optical margin alignment for particular letters */
.pull-T, .pull-V, .pull-W, .pull-Y {margin-left: -0.07em}
.push-T, .push-V, .push-W, .push-Y {margin-right: 0.07em}

.pull-O, .pull-C, .pull-o, .pull-c {margin-left: -0.04em}
.push-O, .push-C, .push-o, .push-c {margin-right: 0.04em}

.pull-A {margin-left: -0.03em}
.push-A {margin-right: 0.03em}


/*-------------*\
	Blog Home
\*-------------*/

.blog-post-snippet {
	margin-bottom: 15px;

	h3 {
		margin-bottom: 0;
	}

	.publish-date {
		font-family: Georgia, serif;
		color: $grey;
		text-transform: none;
		font-weight: 400;
		margin-top: 3px;
		font-size: $regFontSize;

		&:hover {
			text-decoration: none;
		}
	}
}

/*-------------*\
	Blog Post
\*-------------*/

.blog-post-content {
	.blog-post-publish-date {
		color: $lightGrey;
		font-style: italic;
	}
}


/*---------------*\
	Tag Styling
\*---------------*/

.blog-post-tag {
	background-color: $black;
	padding: 5px 8px;
	color: $white;
	display: inline-block;
	font-size: $smFontSize;
	border-radius: 3px;
	margin-right: 8px;
}